
@{
    Layout = "";
}

<table cellspacing="2" cellpadding="1" border="0">
    <tr>
        <td style="text-align:center;">
            <b>@T("Plugins.FinanceReport.PaymentMethodDescription")</b>
        </td>
    </tr>
</table>