@model Nop.Plugin.Payments.ENETS.Models.PaymentInfoModel
@{
    Layout = "";
}


@*<!script src="https://uat2.enets.sg/GW2/js/jquery-3.1.1.min.js" type="text/javascript" asp-location="Head"></!script>*@
@*<!script src="../../Plugins/Payments.ENETS/Content/env.jsp"  asp-location="Head"></!script>
<!script type="text/javascript" src="../../Plugins/Payments.ENETS/Content/apps.js"  asp-location="Head"></!script>*@


@*
<script asp-exclude-from-bundle="true" src="~/Plugins/Payments.ENETS/Content/jquery-3.1.1.min.js"  asp-location="Head"></script>
<script asp-exclude-from-bundle="true" src="~/Plugins/Payments.ENETS/Content/env.jsp"  asp-location="Head"></script>
<script asp-exclude-from-bundle="true" src="~/Plugins/Payments.ENETS/Content/apps.js" asp-location="Head"></script>

<input type="hidden" id="txnReq" name="txnReq" value="@Model.PayLoad" />
<input type="hidden" id="keyId" name="keyId" value="@Model.ApiKey" />
<input type="hidden" id="hmac" name="hmac" value="@Model.Hmac" />*@


<div id="anotherSection">

    <fieldset>
        <div id="ajaxResponse"></div>
    </fieldset>
</div>
<script>
    $(document).ready(function() {
        alert("button");

        var txnReq = $("#txnReq").val();//'{"ss":"1","msg":{""netsMid":"UMID_887770001",""tid":"",""submissionMode":"B",""txnAmount":"1000",""merchantTxnRef":"20170605 10:26:51.98",""merchantTxnDtm":"20170605 10:26:51.989",""paymentType":"SALE",""currencyCode":"SGD",""paymentMode":"",""merchantTimeZone":" + 8:00",""b2sTxnEndURL":"https://sit2.enets.sg/MerchantApp/sim/b2sTxnEndURL.jsp",""b2sTxnEndURLParam":"",""s2sTxnEndURL":"https://sit2.enets.sg/MerchantApp/rest/s2sTxnEnd",""s2sTxnEndURLParam":"",""clientType":"W",""supMsg":"",""netsMidIndicator":"U",""ipAddress":"127.0.0.1",""language":"en"}}';
        // alert(txnReq);
        var keyId = $("#keyId").val();// once api key is available,                       assign a value
        var hmac = $("#hmac").val(); // once hmac is available, assign a value

        console.log("hmac " + hmac);
        sendPayLoad(txnReq, hmac, keyId);
        alert("button 1");
        // console.log(n);
        });
</script>