
@using Nop.Plugin.Reports.Merchandise.Models
@using Nop.Plugin.Reports.Merchandise.Domain
@using Nop.Web.Framework.Models.DataTables

@model Nop.Plugin.Reports.Merchandise.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

@*<h1>
    Merchandise Reports
</h1>
<button type="button" class="btn btn-success">
    <i class="fas fa-download"></i>
    @T("Admin.Common.Export")
</button>*@
<form asp-controller="ReportsMerchandise" asp-action="Configure" method="post">
    <div class="row">
        <h1 class="float-left col-md-11">
            Merchandise Reports
        </h1>
        <div class="col.md-1">
            <div class="btn-group float-right">
                <button asp-action="ExportExcel" type="submit" class="btn btn-success">
                    <i class="fas fa-download"></i>
                    @T("Admin.Common.Export")
                </button>
            </div>
        </div>
    </div>
    <div class="cards-group">
        <div class="card card-default card-search">
            <div class="card-body">
                <div class="search-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="ProductName" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="ProductName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="SKU" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SKU" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="Categories" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Categories" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="Brands" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Brands" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="VendorName" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="VendorName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="ProductLaunchDate" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="ProductLaunchDate" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="text-center col-12">
                                <button type="button" id="search-transaction" class="btn btn-primary btn-search"><i class="fas fa-search"></i>@T("Admin.Common.Search")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-default">
                <div class="card-body">

                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                    Name = "transaction-grid",
                    UrlRead = new DataUrl("TransactionList", "ReportsMerchandise", null),
                    SearchButtonId = "search-transaction",
                    Length = Model.PageSize,
                    LengthMenu =  Model.AvailablePageSizes,
                    Filters = new List<FilterParameter>
                    {
                    new FilterParameter(nameof(Model.ProductName)),
                    new FilterParameter(nameof(Model.SKU)),
                    new FilterParameter(nameof(Model.Categories)),
                    new FilterParameter(nameof(Model.Brands)),
                    new FilterParameter(nameof(Model.VendorName)),
                    new FilterParameter(nameof(Model.ProductLaunchDate))
                    },
                    ColumnCollection = new List<ColumnProperty>
                    {
                    new ColumnProperty(nameof(TransactionModel.ProductID))
                    {
                    Title = "Product Code"
                    },
                    new ColumnProperty(nameof(TransactionModel.ProductName))
                    {
                    Title = "Product Name"
                    },
                    new ColumnProperty(nameof(TransactionModel.ProductStatus))
                    {
                    Title = "Product Status"
                    },
                    new ColumnProperty(nameof(TransactionModel.SKU))
                    {
                    Title = "Product SKU"
                    },
                    new ColumnProperty(nameof(TransactionModel.StockQuantity))
                    {
                    Title = "Inventory"
                    },
                    new ColumnProperty(nameof(TransactionModel.VendorName))
                    {
                    Title = "Vendor"
                    },
                    new ColumnProperty(nameof(TransactionModel.Brands))
                    {
                    Title = "Brand"
                    },
                    new ColumnProperty(nameof(TransactionModel.Categories))
                    {
                    Title = "Category"
                    },
                    new ColumnProperty(nameof(TransactionModel.RetailPrice))
                    {
                    Title = "Retail Price"
                    },
                    new ColumnProperty(nameof(TransactionModel.ProductCost))
                    {
                    Title = "Product Cost"
                    },
                    new ColumnProperty(nameof(TransactionModel.ProductLaunchDate))
                    {
                    Title = "Product Launch Date"
                    },
                    new ColumnProperty(nameof(TransactionModel.InventoryMethod))
                    {
                    Title = "Product Type"
                    },
                    new ColumnProperty(nameof(TransactionModel.DiscountAmount))
                    {
                    Title = "Promotion Price"
                    },
                    new ColumnProperty(nameof(TransactionModel.PromotionStartDate))
                    {
                    Title = "Promotion Start Date"
                    },
                    new ColumnProperty(nameof(TransactionModel.PromotionEndDate))
                    {
                    Title = "Promotion End Date"
                    }
                    
                    
                    //new ColumnProperty(nameof(TransactionModel.OldPrice))
                    //{
                    //Title = "Cost Price"
                    //},
                  
                    // ----------------------------------------------------------------
                    
                    //new ColumnProperty(nameof(TransactionModel.DiscountAmount))
                    //{
                    //Title = "Discount Amount"
                    //},
                    //new ColumnProperty(nameof(TransactionModel.DiscountName))
                    //{
                    //Title = "Discount Name"
                    //},
                    //new ColumnProperty(nameof(TransactionModel.DiscountPercentage))
                    //{
                    //Title = "Discount Percentage"
                    //},
                    //new ColumnProperty(nameof(TransactionModel.DiscountType))
                    //{
                    //Title = "Discount Type"
                    //},
                    // ----------------------------------------------------------------

                    }
                    }
                    )
                </div>
            </div>
        </div>
    </div>
</form>